* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background: gray;
    margin-bottom: 50px;
}